* {
    padding: 0em;
    margin: 0em;
    color: #fff !important;
    background-color: #0a192f;
    box-sizing: border-box;

}

.sk {
    border: 5px black solid;
}

body {
    margin: auto;
    padding: auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px azure solid;
    height: 100vh;
    width: 100vw;
}


.avatar-icon {
    border-radius: 100%;
    width: 20rem;
    border: 5px cyan solid;
}

.heading {
    font-size: 3rem;
}

.sub-heading {
    font-size: 1rem;
}



.pd {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


.ico {
    border: 1px white solid;
    padding: 1rem;
    border-radius: 100%;
    margin: 0.5rem;
}

.ico:hover {
    border: 1px cyan solid;
}





.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.5rem !important;
    background-color: #f5f5f5;
    border-radius: 1rem;
    border-color: #ffffff !important;
    display: block;
}



.divider-custom-line,
.divider-custom-icon {
    color: #fff !important;
}